.AppWrapper {
    position: relative;
    width: 80%;
    padding: 0;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 20% 1fr;
    grid-template-areas: "header header"
"nav content";

}

.header {
    color: white;
    background-color: slategray;
    grid-area: header;
    position: relative;
    padding: 10px;
}
.headerlogo {
    height: 100%;
    position: relative;
    float: left;
}
.headerlogo img{
    height: 100%;
    position: relative;
}
.headerright {
    float: right;
}


.nav {
grid-area: nav;
    padding: 10px;
}

.content {
grid-area: content;
    background-color: bisque;
    padding: 20px;
}