.dialogsPage{

}
.dialogsPage h5{
    margin: 0;
    color:#00b8d4 ;
}
.listOfDialogs{
    margin: 10px;
    grid-area: listOfDialogs;
    border: 1px solid gray;
}
.messages {
    margin: 10px;
    grid-area: messages;
    border: 1px solid gray;
}

.dialogItem{
    margin: 2em 0;
    display: grid;
    grid-template-areas: 'img name';
    grid-template-columns: 1fr 10fr;
    background-color: white;
    padding: 10px;
}
.dialogItem:hover{
    background-color: #f5f5f5;
}
.dialogItem img {
    border-radius: 1em;
    width: 100%;
}
.dialogItem a{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
.dialogItemImg{
    grid-area: img;
}
.dialogItemName{
    grid-area: name;
}
.dialogItemName h5{
    margin: 0;
    margin-left: 1em;
}

.newmessage{

}
.message{

}
.messageName{
    font-size: 1.5rem;
    color: #00838f;
}
.messageBody{

}
.back{
width: 5em;
    height: 2em;
}
.back:hover{

    background-color: #f5f5f5;
}
.sendform {
    display: grid;
    grid-template-areas: 'sendinput sendbutton';
    grid-template-columns: 1fr 5em;
}
.sendinput{
    grid-area: sendinput;
}
.sendbutton{
    grid-area: sendbutton;
}